@import url(variables.css);

body {
    background: var(--main-color);
}

.home_container {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* search input */
.search_input_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;

}

.search_input {
    padding: 15px;
    width: 550px;
    height: 50px;
    background: var(--sec-color);
    border: none;
    border-radius: 25px;
    font-family: var(--font);
    color: var(--font-color-dark);
    outline: none;
    font-size: 14px;
}

/* images grid */

.images_list_container {

    padding: 0 50px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.images_list_image_wrapper {
    width: 250px;

}

.images_list_image {
    width: 100%;
    height: 250px;
    object-fit: cover;

}

.images_list_image:hover {
    cursor: pointer;

}

/* modal */


.modal_container {
    display: none;
    padding: 20px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center
}


.modal {
    background-color: var(--main-color);
    border-radius: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 80%;
    max-width: 500px;
    padding: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset
}


/* modal scrollbar */

.modal_container::-webkit-scrollbar {
    width: 8px;
}

.modal_container::-webkit-scrollbar-track {
    background: transparent;
}

.modal_container::-webkit-scrollbar-thumb {
    background-color: var(--main-color-dark);
}

.modal_img_stats_container {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.modal_img_stats_wrapper {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.modal_img_stat {
    font-family: var(--font);
}

.modal_icon {
    color: var(--main-color-dark);
}


/* navbar */

.navbar_container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: fixed;
    width: 100%;
    background: var(--main-color);
    display: flex;
    align-items: center;
    padding-inline: 70px;
    justify-content: space-between;
}

.navbar_logo {
    width: 30px;
}




.navbar_links_wrapper {
    display: flex;
    column-gap: 50px;

}

.navbar_link {
    color: var(--sec-color-dark);
    font-family: var(--font);
    font-size: 16px;
    padding-block: 20px;
    border-bottom: 1px solid transparent;
    transition: all .5s ease-in-out;


}

.navbar_link:hover,
.navbar_link:focus {
    color: var(--main-color-dark);
    border-bottom: 1px solid var(--main-color-dark);
}

/* search history scroll */

.history_container {
    padding-top: 55px;
}

.history_scroll {
    padding: 30px;
    column-gap: 30px;
    display: flex;
    overflow-x: auto;
    margin-bottom: 15px;
}

.history_scroll::-webkit-scrollbar {
    height: 3px;
}

.history_scroll::-webkit-scrollbar-track {
    background: transparent;
}

.history_scroll::-webkit-scrollbar-thumb {
    background-color: var(--sec-color)
}

.history_scroll_item {
    font-family: var(--font);
    text-transform: capitalize;
    font-size: 14px;
    color: var(--sec-color-dark);
    border-bottom: 1px solid transparent;
}

.history_scroll_item:hover {
    cursor: pointer;
    color: var(--main-color-dark);
}

/* no result container */
.no_result_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.no_result_container img {
    width: 200px;

}

.no_result_container h2,
h3 {
    font-family: var(--font);
    color: var(--sec-color-dark)
}

.no_result_container h3 {
    font-size: 14px;
}